@model GameZone.Models.Game

<div class="container mt-4">
    <h2 class="fw-bold">@Model.Name</h2>

    <div class="row mt-3">
        <div class="col-md-6">
            <img src="~/images/@Model.Cover" alt="@Model.Name" class="img-fluid rounded shadow-sm" />
        </div>
        <div class="col-md-6">
            <h5>Category: @Model.Category.Name</h5>
            <p>@Model.Description</p>

            <h6>Devices:</h6>
            <ul>
                @foreach(var gd in Model.Devices)
                {
                    <li>@gd.Device.Name</li>
                }
            </ul>
        </div>
    </div>
</div>
